config RTL8812AU
	tristate "Realtek 8812A USB WiFi"
	depends on USB
	---help---
	  Help message of RTL8812AU

config RTL8814AU
	tristate "Realtek 8814A USB WiFi"
	depends on USB
	---help---
	  Help message of RTL8814AU
